
.subject-form {
    margin: 20px auto;
    text-align: center;
    padding: 15px;
    border: 1px solid whitesmoke;
    width: 50%;
    background-color: white;
}

.input-box {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-add {
    background-color: green; 
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-delete {
    background-color: red; 
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btn-add:hover { background-color: green; }
.btn-delete:hover { background-color: red ; }