body { 
    font-family: sans-serif; 
    text-align: center; 
    margin-top: 50px; 
}

input, select, textarea { 
    display: block; 
    margin: 10px auto; 
    padding: 8px; 
    width: 250px; 
}

button { 
    padding: 10px 20px; 
    
    
}


.error { 
    color: red; 

}

.success { 
    color: green; 
}